<nav class="main-navigation-container">
  <div class="logo">
      <a routerLink="/project/list">workflow</a>
  </div>


  <ul class="main-nav">
    <li *ngIf="authService.isLoggedIn()" class="nav-item" routerLinkActive="active">
      <a routerLink="/project/list" class="nav-link">My Dashboard</a>
    </li>
    <li *ngIf="authService.isLoggedIn()" class="nav-item" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/project/create" class="nav-link">Create Project</a>
    </li>
    <li *ngIf="!authService.isLoggedIn()" class="nav-item" routerLinkActive="active">
      <a routerLink="/login" class="nav-link">Login</a>
    </li>
    <li *ngIf="!authService.isLoggedIn()" class="nav-item" routerLinkActive="active">
      <a routerLink="/register" class="nav-link">Register</a>
    </li>
    <li *ngIf="authService.isLoggedIn()" class="nav-item" routerLinkActive="active">
      <a routerLink="/logout" class="nav-link">Logout</a>
    </li>
  </ul>

  <div *ngIf="user" class="welcome-user">
    <p>Welcome, {{user}}.</p>
  </div>
</nav>
