$primary-color: #00beff;
$secondary-color: #38c488;
$third-color: rgb(255, 101, 69);
$dark-grey-color: #646464;
$light-grey-color: #b4b4b4;
$active-color: #bee854;
$white-color: #fff;

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  //background-color: #f9f9f9;
  //padding: 25px;
}

.project-box {
  //border-bottom: 1px solid rgba(255, 255, 255, 0.35);;
  padding: 1em;
  color: $light-grey-color;
  flex-basis: 250px;
  //max-width: 4000px;
  flex-grow: .3;
  margin: 10px 35px;
}

.project-box:hover {
  background-color: $dark-grey-color;
  transition: ease-in-out .2s;
  color: $light-grey-color;
}

.project-box:hover .project-name {
  color: $active-color;
  transition: ease-in-out .1s;
}

.project-box:hover .client {
  color: $white-color;
  transition: ease-in-out .1s;
}

.project-name {
  color: #000;
}

.buttons-section {
  padding: 10px 0;
}

.details {
}

.right {
  text-align: right;
  float: right;
}

.plus {
  color: $primary-color;
}

.minus {
  color: $active-color;
}

.value::after {
  content: ' BGN';
  font-size: .8em;
}


.status {
  display: inline-block;
  width: 50px;
  height: 25px;
  line-height: 25px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
  color: #ddd;
}

.active {
  //color: $secondary-color;
}

.closed {
  //color: $dark-grey-color;
}

.section {
  /*background-color: #f2f2f2;*/
  margin: 2em 0;
  padding: 0 0 3em 0;
}

.section-name-label {
  /*margin-left: -60px;*/
  background-color: #f2f2f2;
  padding: 10px 20px;
}

.clear {
  clear: both;
}

.client {
  color: #252525;
}
