<div class="group">

  <h1>My dashboard</h1>


  <div class="buttons-section ">
    <a routerLink="/project/create" class="btn btn-default">New Project</a>
    <a routerLink="/client/create" class="btn btn-default">New Client</a>
    <div class="col-sm-8 right">
      <input class="">
      <button>Search</button>
    </div>
  </div>
</div>

<div class="section">

  <h3 class="">Active projects</h3>
  <hr>

  <div *ngFor="let project of activeProjects" class="">

    <a routerLink="/project/details/{{project._id}}">
        <div class="project-box">
          <span class="status active">A</span>
          <h4>{{project.name}}</h4>
          <h5>{{project.client}}</h5>
          <p>
            <span class="details">Budget:</span>
            <span class="right"> {{project.budget}} <span class="currency">BGN</span></span>
          </p>
          <p>
            <span class="details">Cost:</span>
            <span class="right"> {{ project.totalTime * project.rate / 60 | number }} <span class="currency">BGN</span></span>
          </p>
          <p>
            <span class="details">Balance:</span>
            <span class=" right plus"
                  [ngClass]="{'minus': project.budget - ( project.totalTime * project.rate / 60 ) <= 0}">
            {{project.budget - ( project.totalTime * project.rate / 60 ) | number }}
            <span class="currency">BGN</span>
          </span>
          </p>
        </div>
      </a>
  </div>
</div>

<div class="clear"></div>

<div class="section">
  <h3 class="">Closed projects</h3>

  <div *ngFor="let project of closedProjects">
    <a href="project/details/{{project._id}}">
      <div class="project-box">
        <span class="status closed">C</span>
        <h4>{{project.name}}</h4>
        <h5>{{project.client}}</h5>

        <span class="details">Budget:<span class="right"> {{project.budget}} BGN</span></span>


        <p>
          <span class="details">Cost:</span>
          <span class="right"> {{ project.totalTime * project.rate / 60 | number }} BGN</span>
        </p>
        <p>
          <span class="details">Balance:</span>
          <span class="right accent"> {{project.balance | number }} BGN</span>
        </p>
      </div>
    </a>
  </div>

</div>
