<header class="group">
  <h1>My dashboard</h1>

  <div class="buttons-container">
    <a routerLink="/project/create" class="btn btn-default">New Project</a>
    <a routerLink="/client/create" class="btn btn-default">New Client</a>
    <div class="right">
      <input class="">
      <button>Search</button>
    </div>
  </div>
</header>

<div *ngIf="projects.length === 0" class="loader"></div>
<div *ngIf="projects.length !== 0">
  <section class="projects-list">
    <header>
      <h3 class="">Active projects</h3>
      <hr/>
    </header>

    <section class="projects-container">
      <article *ngFor="let project of activeProjects" class="project-box-2">
        <a routerLink="/project/details/{{project._id}}">
          <figure class="snip1321">

            <h4 class="project-name">{{project.name}}</h4>
            <figcaption>
              <header>
                <span class="status active">A</span>
                <h4 class="project-name">{{project.name}}</h4>
                <p class="client">{{project.client}}</p>
              </header>
              <div class="project-details-container">
                <p class="details">
                  Budget:
                  <span class="value currency"> {{project.budget}} </span>
                </p>
                <p>
                  <span class="details">Cost:</span>
                  <span class="value currency"> {{ project.totalTime * project.rate / 60 | number }}</span>
                </p>
                <p>
                  <span class="details">Balance:</span>
                  <span class="value plus currency"
                        [ngClass]="{'minus': project.budget - ( project.totalTime * project.rate / 60 ) <= 0}">
            {{project.budget - ( project.totalTime * project.rate / 60 ) | number }}
          </span>
                </p>
              </div>
            </figcaption>
          </figure>
        </a>
      </article>
    </section>
  </section>

  <section class="projects-list">
    <header>
      <h3 class="">Closed projects</h3>
      <hr/>
    </header>
    <section class="projects-container">
      <div *ngFor="let project of closedProjects" class="project-box">
        <a routerLink="/project/details/{{project._id}}">
          <header>
            <span class="status active">A</span>
            <h4 class="project-name">{{project.name}}</h4>
            <p class="client">{{project.client}}</p>
          </header>

          <p class="details">
            Budget:
            <span class="value right"> {{project.budget}} </span>
          </p>
          <p>
            <span class="details">Cost:</span>
            <span class="value right"> {{ project.totalTime * project.rate / 60 | number }}</span>
          </p>
          <p>
            <span class="details">Balance:</span>
            <span class="value right plus"
                  [ngClass]="{'minus': project.budget - ( project.totalTime * project.rate / 60 ) <= 0}">
            {{project.budget - ( project.totalTime * project.rate / 60 ) | number }}
          </span>
          </p>
        </a>
      </div>
    </section>
  </section>
</div>




