.project-box {
  /*background-color: #f7f7f7;*/
  border: 1px solid #f2f2f2;
  padding: 1em 1em .5em 1em;
  color: #b4b4b4;
  margin: 1em 0;
}

.project-box:hover {
  background-color: #fafafa;
  transition: ease-in-out .1s;
}

.project-box:hover h4 {
  color: #ff6545;
  transition: ease-in-out .1s;
}

a:hover {
  text-decoration: none !important;
}

.buttons-section {
  /*background-color: #f2f2f2;*/
  padding: 1em 0;
  margin: 1em 0 -3em 0;
}

h3 {
  display: block;
  line-height: 1.5em;
  /*color: #18b6e2;*/
}

h1 {
  /*color: #18b6e2;*/
}

h4 {
  font-size: 1.2em;
  /*font-weight: 200;*/
  color: #646464;
}

h5 {
  font-size: .9em;
  margin-bottom: 3em;
  color: #9c9c9c;
}

p {
  line-height: .8em;
  font-size: .8em;
}

.details {
  display: inline-block;
  min-width: 150px !important;
  margin-right: 30px;
}

.right {
  text-align: right;
  float: right;
}

.accent {
  color: #ff6545;
  font-weight: 600;
}

.status {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  float: right;
  margin-top: -28px;
  color: #fff;
  text-align: center;
  font-weight: 400;
}

.active {
  background-color: #ff6545;
}

.closed {
  background-color: #bee854;
}

.section {
  /*background-color: #f2f2f2;*/
  margin: 2em 0;
  padding: 0 0 3em 0;
}

.section-name-label {
  /*margin-left: -60px;*/
  background-color: #f2f2f2;
  padding: 10px 20px;
}
