<div class="">
  <p class="month-box"> {{ monthAsString }} {{ year }} </p>

  <div class="group">
    <div *ngFor="let day of weekdays" class="weekday">
      {{ day }}
    </div>
  </div>

  <div class="group">
    <form (ngSubmit)="save()" #calendarForm="ngForm" class="">

      <div class="group">
        <div *ngFor="let day of emptyDays" class="date-box empty">
        </div>

        <div *ngFor="let day of daysTable" class="date-box">
          {{ day }}
          <input
            disabled="{{status}}"
            type="text"
            id="{{day}}"
            [(ngModel)]="incomingFormData[day - 1]"
            name="{{day}}"
            class="add-time-input"
            [ngClass]="{'has-value': monthSchedule[day - 1].workTimeInMinutes !== 0}"
            placeholder="{{(monthSchedule[day - 1].workTimeInMinutes)}} min" />
        </div>

      </div>

      <div *ngIf="project.status === 'active' " class="buttons-section">
        <input type="submit" class="btn btn-default right " value="Update Time">
      </div>

    </form>
  </div>


</div>
