<div class="">
  <div>
    <h3>Current month time: {{currentMonthTime / 60 | floor}}h :  {{currentMonthTime % 60}} min</h3>
    <h3>Current month price: {{currentMonthTime * project.rate / 60 | floor}} $</h3>
  </div>
  <div>
    <p class="month-box"> <button (click)="loadPreviousMonth()">&lsaquo;</button> {{ monthAsString }} {{ year }} <button (click)="loadNextMonth()">&rsaquo;</button> </p>
  </div>


  <div class="group">
    <div *ngFor="let day of weekdays" class="weekday">
      {{ day }}
    </div>
  </div>

  <div class="group">
    <form (ngSubmit)="updateView()" #calendarForm="ngForm" class="">

      <div class="group">

        <div *ngFor="let day of emptyDays" class="date-box empty"></div>

        <div *ngFor="let day of daysInMonth" class="date-box">
          {{ day }}
          <input
            disabled="{{status}}"
            type="number"
            min="0"
            id="{{day}}"
            [(ngModel)]="incomingFormData[day - 1]"
            name="{{day}}"
            class="add-time-input"
            [ngClass]="{'has-value': monthSchedule[day - 1].workTimeInMinutes !== 0}"
            placeholder="{{(monthSchedule[day - 1].workTimeInMinutes)}} min" />
        </div>

      </div>

      <div *ngIf="project.status === 'active' " class="buttons-section">
        <input type="submit" class="btn btn-default right " value="Update Time">
      </div>

    </form>

  </div>
  <a routerLink="/project/list" class="btn btn-primary">Back</a>


</div>
