.project-container {
  display: flex;
  flex-wrap: wrap;
}

.project-info {
  width: calc(100% - 325px);
  min-height: 150px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
  margin-bottom: 30px;
  order: 1;
}


// --- Current Month Summary --- //
.summary-box {
  order: 2;
  width: 300px;
  padding: 25px;
  background-color: #f2f2f2;
  margin-left: 25px;
}
.current-month-summary {
  //background-color: #f7f7f7;
  padding: 20px 0 0 0;
  border-radius: 10px;
}

.current-month-summary p {
  font-size: 1.0em;
}

.currency::after {
  content: ' лв.';
  font-size: .8em;
}

.value {
  float: right;
}

.result {
  //font-size: 1.5em;
  color: #32ad78;
  font-weight: 600;
  //background-color: #0db273;
  //padding: 15px;
}

.calendar-box {
  margin: auto;
  order: 3;
}

.project-name {
  margin-bottom: 25px;
}

.orange-text {
  color: #ff6545;
}

.due-date-badge {
  font-size: .4em;
  font-weight: 200;
  background-color: #000;
  padding: 5px 15px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 6px;
  border-bottom-left-radius: 0;
  position: relative;
  top: -5px;
  left: 20px;
}

.accent {
  color: #00beff;
  font-weight: 200;
}
