@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");


@font-face {
  font-family: myFirstFont;
  src: url('https://fonts.googleapis.com/css?family=Titillium+Web');
}


/* ------ Spinner ------ */
.loader {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #32ad78;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* ------ End ------ */

* {
  box-sizing: border-box;
}

/*ClearFix*/
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}


body {
  font-family: 'Lato', sans-serif;
  color: #000000;
  background-color: #ffffff;
  transition: .2s;
  font-size: 14px;
}

a {
  color: #9c9c9c;
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 2em;
  margin-bottom: .5em;
}

h2 {
  font-size: 1.5em;
  margin-bottom: .5em;
}

h3 {
  font-size: 1.3em;
  margin-bottom: .5em;
}

h4 {
  font-size: 1.2em;
  margin-bottom: .5em;
}

h5 {
  font-size: 1.1em;
  margin-bottom: .5em;
}

p {
  font-size: 12px;
  margin-bottom: .5em;
}

/*Common*/
hr {
  background-color: rgba(0, 0, 0, 0.1);
  height: 1px;
  border: 0;
}

#content {
  width: 90%;
  margin: auto;
}
.container {
  /*background-color: #fff;*/
  padding: 3em 3em 1em 3em;
}

.right {
  float: right;
}

.left {
  float: left;
}


/*  -----  Buttons  -----  */
button {
  border: none;
  outline: none;
  font-family: 'Titillium Web', sans-serif;
}

.btn {
  margin: 3px;
  padding: 5px 30px;
  cursor: pointer !important;
  transition: ease-in-out .3s;

  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
          animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
}


.btn-primary {
  background-color: #0db273;
  color: #ffffff;
  box-shadow: none;
}

.btn-primary:hover {
  background-color: #0f824b;
  /*animation-name: bounce !important;*/
  /*-moz-animation-name: bounce !important;*/
}

.btn-default {
  background-color: #eaeaea;
  color: #9c9c9c;
}

.btn-default:hover {
  /*background-color: #0db273;*/
  background-color: #6e6e6e;
  color: #fff;
  /*animation-name: bounce !important;*/
  /*-moz-animation-name: bounce !important;*/
}

.btn-danger {
  background-color: transparent;
  color: #6e6e6e;
  width: 20%;
  text-align: left;
  padding-left: 0;
}
.btn-danger .glyphicon {
  color: #bee854;
}
.btn-danger:hover {
  background-color: #bee854;
  color: #4c4c4c;
  padding-left: 25px;
}
.btn-danger:hover .glyphicon {
  color: #84ac4a;
  padding-right: 10px;
}

.btn-default-simple {
  width: 20%;
  text-align: left;
  padding-left: 0;
  background-color: transparent;
  color: #6e6e6e;
}
.btn-default-simple .glyphicon {
  color: #0db273;
}
.btn-default-simple:hover {
  background-color: #0db273;
  color: #fff;
  padding-left: 25px;
}
.btn-default-simple:hover .glyphicon {
  color: #0d9158;
  padding-right: 10px;
}

.glyphicon {
  margin-right: 5px;
  transition: ease-in-out .3s;
}


/*  -----  Forms  -----  */
.form-container {
  width: 35%;
  margin: 0;
}

.form-container .form-header {
  height: 50px;
  color: rgba(56, 196, 136, 0.79);
  margin-bottom: 20px;
}

.form-group {
  height: 100px;
  margin-bottom: 20px;
}

.form-group .form-control {
  width: 100%;
  margin-top: 10px;
  /*color: #ffffff;*/
  font-size: 16px;
}

.form-group input,
.form-group select,
.form-group textarea {
  background-color: transparent;
  border: none;
  height: 40px;
  color: #b4b4b4;
  padding: 5px 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
  transition: ease-in-out .2s;
}

input:focus {
  background-color: rgba(180, 180, 180, 0.2);
  color: #3fe6a3;
  border-bottom: 1px solid #3fe6a3;
}

textarea:focus, input:focus, select:focus, option:focus {
  outline: none;
}

option {
  background-color: #575757;
}

/*input[type=number]::-webkit-inner-spin-button,*/
/*input[type=date]::-webkit-inner-spin-button,*/
/*select::-webkit-inner-spin-button {*/
  /*!*-webkit-appearance: none;*!*/
  /*cursor:pointer;*/
  /*text-align:center;*/
  /*position:relative;*/
  /*width: 8px;*/
  /*height: 14px;*/
  /*padding: 5px;*/
  /*transition: ease-in-out .7s;*/
/*}*/

input[type=button],
input[type=submit] {
  outline: none;
  padding: 10px 30px;
  border: none;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  cursor: pointer;
}


/*Animations*/

@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    -ms-transform:     translateY(0);
    transform:         translateY(0)
  }
  40% {
    -webkit-transform: translateY(-7px);
    -ms-transform:     translateY(-7px);
    transform:         translateY(-7px)
  }
  60% {
    -webkit-transform: translateY(0px);
    -ms-transform:     translateY(0px);
    transform:         translateY(0px)
  }
}

