<div *ngIf="project">

  <div class="form-container">
    <header class="form-header">
      <h1>Create new project</h1>
      <hr class="headline-accent-line"/>
    </header>

    <form (ngSubmit)="createProject()" #createProjectForm="ngForm">

      <div class="form-group">
        <label for="project-name">Project name</label>
        <input type="text"
               class="form-control"
               id="project-name"
               name="project-name"
               required
               [(ngModel)]="project.name"
               #name="ngModel"
        placeholder="none"/>
      </div>

      <div class="form-group">
        <label for="client">Client</label>
        <select class="form-control"
                id="client"
                name="client"
                required
                [(ngModel)]="project.client"
                #client="ngModel" >
          <option *ngFor="let client of clients" [value]="client.name">{{client.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="rate">Project rate</label>
        <input type="number"
               class="form-control"
               id="rate"
               name="rate"
               required
               [(ngModel)]="project.rate"
               #rate="ngModel" />
        <div [hidden]="rate.valid || rate.pristine" class="alert alert-danger">
          <p>Project rate is required!</p>
        </div>
      </div>

      <div class="form-group">
        <label for="budget">Project budget</label>
        <input type="number"
               class="form-control"
               id="budget"
               name="budget"
               [(ngModel)]="project.budget"
               #budget="ngModel" />
      </div>

      <div class="form-group">
        <label for="start-date">Start date</label>
        <input type="date"
               class="form-control"
               id="start-date"
               name="start-date"
               [(ngModel)]="project.startDate"
               #startDate="ngModel" />
      </div>

      <div class="form-group">
        <label for="end-date">Due date</label>
        <input type="date"
               class="form-control"
               id="end-date"
               name="end-date"
               [(ngModel)]="project.endDate"
               #endDate="ngModel" />
      </div>

      <div class="buttons-container">
        <button type="submit" [disabled]="!createProjectForm.form.valid" class="btn btn-primary right">Create</button>
        <button type="reset" class="btn btn-default right" (click)="clearForm()">Clear</button>
      </div>
    </form>

  </div>

</div>
