<div class="row">
  <div class="col-md-6 offset-md-3">
    <h3>Create new project</h3>
    <form (ngSubmit)="createClient()" #createClientForm="ngForm">

      <div class="form-group">
        <label for="name">Client name</label>
        <input type="text"
               class="form-control"
               id="name"
               required
               [(ngModel)]="client.name"
               name="name"
               #name="ngModel">
      </div>

      <div class="right-container">
        <input [disabled]="!createClientForm.form.valid" type="submit" class="btn btn-default right" value="Create"/>
        <input type="button" class="btn btn-primary right" (click)="clearForm()" value="Clear"/>
      </div>

    </form>
  </div>
</div>

