
  <div class="form-container">
    <header>
      <h3>Create new client</h3>
    </header>

    <form (ngSubmit)="createClient()" #createClientForm="ngForm">

      <div class="form-group">
        <label for="client-name" hidden>Client name</label>
        <input type="text"
               class="form-control"
               id="client-name"
               name="client-name"
               placeholder="Enter client name"
               required
               [(ngModel)]="client.name"
               #name="ngModel">
      </div>

      <div class="buttons-container">
        <button type="submit" [disabled]="!createClientForm.form.valid" class="btn btn-primary right">Create</button>
        <button type="reset" class="btn btn-default right" (click)="clearForm()">Clear</button>
      </div>

    </form>
  </div>


